.breadcrumb-card{
	padding: 0.5 * $card-spacer-y $card-spacer-x;
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius);
    border: 1px solid var(--bs-border-color);
    box-shadow: var(--bs-box-shadow-sm);
	display: inline-block;
	
	.breadcrumb{
		margin-bottom: 0;
	}
}