.card-profile{
	.profile-photo {
		margin-top: -65px;
		position: relative;
		z-index: 1;
		width: 120px;
		height: 120px;
		min-width: 120px;
		
		@include respond('tab-land'){
			margin-top: -50px;
			width: 100px;
			height: 100px;
			min-width: 100px;
		}
		@include respond('phone'){
			width: 80px;
			height: 80px;
			min-width: 80px;
		}
	}
}
.photo-content{
    position: relative;
	
	.cover-photo{
        background: url(../images/profile/12.webp);
        background-size: cover;
        background-position: center;
        min-height: 15rem;
        width: 100%;
        border-top-left-radius: var(--bs-border-radius);
        border-top-right-radius: var(--bs-border-radius);
		
		@include respond('phone'){
			min-height: 10rem;			
		}
    }
}
.gallery-grid{
	width: 100%;
    display: grid;
    grid-gap: 5px;
    margin: 0 0 15px;
    aspect-ratio: 1 / 1;
	
	&.rows-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.rowspan-2 {
		grid-row: span 2 / auto;
	}
	.grid-item{
		position: relative;
		overflow: hidden;
		grid-column: span 1;
		grid-row: span 1;
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		max-height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.colspan-3 {
		grid-column: span 3 / auto;
	}
	.colspan-2 {
		grid-column: span 2 / auto;
	}
	.rowspan-3 {
		grid-row: span 3 / auto;
	}
	.gallery-more:after {
		content: attr(data-more);
		position: absolute;
		top: 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		font-size: 200%;
	}
}
.post-quote{
	min-height: 280px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
	padding: 30px;
	position: relative;
	
	.quote-inner{
		z-index: 1;
		position: relative;
	}
}
.post-quote-img{
	position: relative;
	overflow: hidden;
	
	&:after{
		content: "";
		background-color: #000;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}
}
.soundcloud-iframe{
	width: 100%;
    height: 125px;
}
.video-iframe{
	aspect-ratio: 16 / 9;
    width: 100%;
}