<!-- Start - Basic CSS -->
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist.min.css">
	<link href="@@webRoot/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet"> 
    <link href="@@webRoot/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<!-- End - Basic CSS -->

	<!-- Start - Switcher CSS -->
	<link class="main-switcher" h1ref="assets/css/switcher.css" rel="stylesheet">
	<!-- End - Switcher CSS -->

	<!-- Start - Style Css -->
	<link class="main-plugins" href="assets/css/plugins.css" rel="stylesheet">
	<link class="main-css" href="assets/css/style.css" rel="stylesheet">	
	<!-- End - Style Css -->
	 