<!-- Start - Script -->
    <script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="@@webRoot/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="@@webRoot/node_modules/@yaireo/tagify/dist/tagify.js"></script>
	<script src="@@webRoot/node_modules/metismenu/dist/metisMenu.min.js"></script>
	<script src="assets/vendor/chart.js/Chart.bundle.min.js"></script>