<!--Start - Deznav -->
        <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text" data-i18n="Dashboard">Dashboard</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="index.html" data-i18n="Dashboard">Dashboard</a></li>
							<li><a href="index-2.html" data-i18n="Dashboard 2">Dashboard 2</a></li>
							<li><a href="index-3.html" data-i18n="Dashboard 3">Dashboard 3</a></li>
							<li><a href="index-dark.html" data-i18n="Dashboard Dark">Dashboard Dark</a></li>
							<li><a href="coin-details.html" data-i18n="Coin Details">Coin Details</a></li>
							<li><a href="my-wallets.html" data-i18n="My Wallets">My Wallets</a></li>
							<li><a href="transactions.html" data-i18n="Transactions">Transactions</a></li>
							<li><a href="portofolio.html" data-i18n="Portofolio">Portofolio</a></li>
							<li><a href="market-capital.html" data-i18n="Market Capital">Market Capital</a></li>
						</ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-user-7"></i>
							<span class="nav-text" data-i18n="Profile">Profile</span>
							<span class="badge badge-xs style-1 new-badge ms-3 nav-text" data-i18n="New">New</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="profile/overview.html" data-i18n="Overview">Overview</a></li>
							<li><a href="profile/projects.html" data-i18n="Projects">Projects</a></li>
							<li><a href="profile/projects-details.html" data-i18n="Projects Details">Projects Details</a></li>
							<li><a href="profile/campaigns.html" data-i18n="Campaigns">Campaigns</a></li>
							<li><a href="profile/documents.html" data-i18n="Documents">Documents</a></li>
							<li><a href="profile/followers.html" data-i18n="Followers">Followers</a></li>
							<li><a href="profile/activity.html" data-i18n="Activity">Activity</a></li>
						</ul>

                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-user-4"></i>
							<span class="nav-text" data-i18n="Account">Account</span>
							<span class="badge badge-xs style-1 new-badge ms-3 nav-text" data-i18n="New">New</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="account/overview.html" data-i18n="Overview">Overview</a></li>
							<li><a href="account/settings.html" data-i18n="Settings">Settings</a></li>
							<li><a href="account/security.html" data-i18n="Security">Security</a></li>
							<li><a href="account/activity.html" data-i18n="Activity">Activity</a></li>
							<li><a href="account/billing.html" data-i18n="Billing">Billing</a></li>
							<li><a href="account/statements.html" data-i18n="Statements">Statements</a></li>
							<li><a href="account/referrals.html" data-i18n="Referrals">Referrals</a></li>
							<li><a href="account/api-keys.html" data-i18n="Api Keys">Api Keys</a></li>
							<li><a href="account/logs.html" data-i18n="Logs">Logs</a></li>
						</ul>

                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
						<i class="flaticon-381-television"></i>
							<span class="nav-text" data-i18n="Apps">Apps</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="app-profile.html" data-i18n="Profile">Profile</a></li>
							<li><a href="post-details.html" data-i18n="Post Details">Post Details</a></li>
							<li><a href="edit-profile.html" data-i18n="Edit Profile">Edit Profile</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false" data-i18n="Email">Email</a>
                                <ul aria-expanded="false">
                                    <li><a href="email-compose.html" data-i18n="Compose">Compose</a></li>
                                    <li><a href="email-inbox.html" data-i18n="Inbox">Inbox</a></li>
                                    <li><a href="email-read.html" data-i18n="Read">Read</a></li>
                                </ul>
                            </li>
                            <li><a href="app-calender.html" data-i18n="Calendar">Calendar</a></li>
							<li><a class="has-arrow" href="javascript:void()" aria-expanded="false" data-i18n="Shop">Shop</a>
                                <ul aria-expanded="false">
                                    <li><a href="ecom-product-grid.html" data-i18n="Product Grid">Product Grid</a></li>
									<li><a href="ecom-product-list.html" data-i18n="Product List">Product List</a></li>
									<li><a href="ecom-product-detail.html" data-i18n="Product Details">Product Details</a></li>
									<li><a href="ecom-product-order.html" data-i18n="Order">Order</a></li>
									<li><a href="ecom-checkout.html" data-i18n="Checkout">Checkout</a></li>
									<li><a href="ecom-invoice.html" data-i18n="Invoice">Invoice</a></li>
									<li><a href="ecom-customers.html" data-i18n="Customers">Customers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-internet"></i>
							<span class="nav-text" data-i18n="AIKit">AIKit</span>
							<span class="badge badge-xs style-1 new-badge ms-3 nav-text" data-i18n="New">New</span>
						</a>
                        <ul aria-expanded="false">
							<li><a href="aikit/auto-write.html" data-i18n="Auto Writer">Auto Writer</a></li>
							<li><a href="aikit/scheduled.html" data-i18n="Scheduled">Scheduled</a></li>
							<li><a href="aikit/repurpose.html" data-i18n="Repurpose">Repurpose</a></li>
							<li><a href="aikit/rss.html" data-i18n="RSS">RSS</a></li>
							<li><a href="aikit/chatbot.html" data-i18n="Chatbot">Chatbot</a></li>
							<li><a href="aikit/fine-tune-models.html" data-i18n="Fine tune Models">Fine tune Models</a></li>
							<li><a href="aikit/prompt.html" data-i18n="AI Menu Prompts">AI Menu Prompts</a></li>
							<li><a href="aikit/setting.html" data-i18n="Settings">Settings</a></li>
							<li><a href="aikit/import.html" data-i18n="Export/Import Settings">Export/Import Settings</a></li>
						</ul>

                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void(0);" aria-expanded="false">
							<i class="flaticon-381-settings-5"></i>
							<span class="nav-text" data-i18n="CMS">CMS</span>
							<span class="badge badge-xs style-1 new-badge ms-3 nav-text" data-i18n="New">New</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="cms/content.html" data-i18n="Content">Content</a></li>
							<li><a href="cms/content-add.html" data-i18n="Add Content">Add Content</a></li>
							<li><a href="cms/menu.html" data-i18n="Menus">Menus</a></li>	
							<li><a href="cms/email-template.html" data-i18n="Email Template">Email Template</a></li>		
							<li><a href="cms/add-email.html" data-i18n="Add Email">Add Email</a></li>		
							<li><a href="cms/blog.html" data-i18n="Blog">Blog</a></li>	
							<li><a href="cms/blog-category.html" data-i18n="Blog Category">Blog Category</a></li>	
							<li><a href="cms/add-blog.html" data-i18n="Add Blog">Add Blog</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text" data-i18n="Pages">Pages</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="pages/register.html" data-i18n="Register">Register</a></li>
                            <li><a href="pages/login.html" data-i18n="Login">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false" data-i18n="Error">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="pages/error-400.html" data-i18n="Error 400">Error 400</a></li>
                                    <li><a href="pages/error-403.html" data-i18n="Error 403">Error 403</a></li>
                                    <li><a href="pages/error-404.html" data-i18n="Error 404">Error 404</a></li>
                                    <li><a href="pages/error-500.html" data-i18n="Error 500">Error 500</a></li>
                                    <li><a href="pages/error-503.html" data-i18n="Error 503">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="pages/lock-screen.html" data-i18n="Lock Screen">Lock Screen</a></li>
							<li><a href="pages/empty-page.html" data-i18n="Empty Page">Empty Page</a></li>
                        </ul>
                    </li>
                </ul>
			</div>
			<div class="deznav-footer">
				<a href="https://coreui.w3itexperts.com/?theme=Kripton" target="_blank" class="btn btn-docs btn-success w-100">
					<span>Docs &amp; Components</span>
					<i class="fa-solid fa-arrow-up rotate-x"></i>
				</a>
			</div>
        </div>
        <!-- End - Deznav -->